.movie__list1 {
    padding: 0 1rem 1rem 1rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;

    
}
.moviecard{
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor:pointer;
    min-width:100px;
    height:300px;
    z-index:0;
    border: 1px solid rgb(99, 99, 99);
}